.left_col{
    background-color: #FFF;
    color: #000;
    width: 300px!important;
}
.nav_title{
    width: 300px!important;
}
.nav-md .container.body .right_col {
    margin-left: 300px;
    padding:10px 10px 0;
}
footer {
    margin-left: 300px!important;
    position: fixed!important;
    bottom: 0;
    right: 0;
}
.main_container .top_nav {
    display: block;
    margin-left: 300px;
}
.modal-dialog {
    margin: 30px auto;
    width: 980px;
}

.form-group {
    float: left;
    width: 50%;
}
.modal-body {
    overflow: hidden;
    padding: 15px 0;
}
#cammodal img {
    height: 180px;
    width: 180px;
}

.camera_view .camera_num{
    float: left;
    position: relative;
    width: 470px;
}
.cam_2 {
    margin-left: 20px;
}
.camera_view {
    overflow: hidden;
    padding-left: 5px;
}
.vjs-caption-settings {
    display: none;
}

.camera_view video {
    width: 100%;
}
.vjs-control-bar, .vjs-big-play-button, .vjs-control-bar, .vjs-error-display, .vjs-caption-settings{
    display:none!important;
}
.camera_video {
    height: auto;
}
.nav.toggle > a {
    display: none;
}
.cam_rec i{
    cursor: pointer;
}
/*
.cam_enable{
    display: block;
}
.cam_visible{
    display: none;
}*/

.cam_select a{
    color:red;
}